* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.nav {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #F3F4F6;
    justify-content: space-evenly;
}
.nav a:hover{
    color: black;
}

.left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 20%;
}

.left img {
    height: 70%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    font-family: poppins;
}

.center a {
    padding: 5px;
    text-decoration: none;
    color: #243D7D;
}

.right {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right i {
    font-size: 25px;
    padding: 0px;
    color: #5A5A5A;
}

.hero {

    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DFF2EB;

    video {
        height: 65%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        opacity: 90px;
    }
}

.heroname {
    position: absolute;
    font-family: poppins;
    color: #1F2937;

    h1 {
        font-weight: 500;
        font-size: 50px;
    }

    h2 {
        font-style: 20px;
        margin-left: 50px;
        font-weight: 300;
    }
}

.aboutheading {
    background-color: #DFF2EB;

    h1 {
        margin-left: 80px;
        font-size: 40px;
        color: #1F2937;
    }
}

.about {
    height: 700px;
    width: 100%;
    background-color: #DFF2EB;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    color: #1F2937;
}

.aboutleft {
    height: 650px;
    width: 50%;

    p {
        font-family: poppins;
        font-size: 15px;
        margin-left: 40px;
    }

}

.ablefthead h1 {
    margin-left: 30px;
    font-size: 70px;
    font-family: poppins;
    line-height: 80px;
}

.aboutright {
    height: 400px;
    width: 35%;

    img {
        height: 100%;
        width: 100%;
    }
}

.servicesection {
    height: 1200px;
    width: 100%;
    background-color: #DFF2EB;

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        font-family: poppins;
        color: #1F2937;
        font-weight: 400;
    }
}

.s1 {
    height: 230px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-top: 10PX;
}

.ser1 {
    padding: 0px 20px;
    height: 220px;
    width: 210px;
    background-color: #FFFFFF;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-size: 12px;
    color: #374151;
    font-family: poppins;

    h3 {
        padding-top: 60px;
        margin-left: 10px;
        font-size: 15px;
    }

    p {
        margin-left: 10px;
        padding-top: 10px;
    }
}
.ser1:hover{
    transform: scale(1.1);
    transition: all 1s;
}
.insight {
    height: 400px;
    width: 100%;
    background-color: #DFF2EB;

    h1 {
        text-align: center;
        font-size: 40px;
        font-family: poppins;
        font-weight: 450;
    }
}

.blogmain {
    height: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

.b1 {
    border-radius: 10px;
    height: 180px;
    width: 30%;
    background-color: #FFFFFF;

    img {
        height: 120px;
        width: 90%;
        padding: 10px 12px;
        border-radius: 15px;
    }

    h3 {
        height: 40px;
        font-family: poppins;
        font-weight: 500;
        margin-left: 20px;
    }
}
.b1 img:hover{
    transition: all 1s;
}
.contact {
    height: 300px;
    width: 100%;
    background-color: #DFF2EB;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4A628A;
}

.conatactL {
    height: 60%;
    width: 40%;

    h1 {
        margin-top: 10px;
        font-size: 30px;
        /* padding-top: 10px; */
    }

}

.conatactr {
    height: 60%;
    width: 50%;

    input {
        background-color: #DFF2EB;
        border: 1px solid black;
        border-left: 3px solid black;
        width: 40%;
        padding: 7px;
        margin: 10px;

    }

    button {
        background-color: #DFF2EB;
        border: 1px solid black;
        border-left: 3px solid black;
        padding: 7px;
        margin: 10px;
        width: 20%;
    }
}
.conatactr button:hover{
    background-color: #1F2937;
    color: white;
}
#msg {
    width: 90%;

}

.fotter {
    height: 140px;
    width: 100%;
    background-color: #F3F4F6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.r {
    text-align: justify;
    height: 80%;
    width: 25%;
    color: #243D7D;

    p {
        font-size: 10px;
    }

    h4 {
        font-size: 17px;
    }
}

.c {
    height: 80%;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #243D7D;

    p {
        font-size: 10px;
    }

    h4 {
        font-size: 17px;
    }
}
.cmobile h4:hover{
     position: relative;
    text-decoration: none;
    color: black;
}
.cmobile h4::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: blue;
    transition: 0.3s;
}
.cmobile h4:hover::after{
    width: 35%;
}
.cemail h4:hover{
     position: relative;
    text-decoration: none;
    color: black;
}
.cemail h4::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: blue;
    transition: 0.3s;
}
.cemail h4:hover::after{
    width: 80%;
}
.l {
    /* text-align: center; */
    height: 80%;
    width: 25%;
    color: #243D7D;

    p {
        font-size: 10px;
    }

    h4 {
        font-size: 17px;
    }
}
.l h4:hover{
    position: relative;
    text-decoration: none;
    color: black;
}
.l h4::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: blue;
    transition: 0.3s;
}
.l h4:hover::after{
    width: 30%;
}
.copyright{
    height: 50px;
    width: 50%;
    background-color: #F3F4F6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10px;
}
.cr{
    height: 90%;
    width: 30%;
    color: #243D7D;
}
.cc{
    height: 90%;
    width: 40%;
    color: #243D7D;
}
.cl{
    margin-left: 10px;
    color: #243D7D;
    height: 90%;
    width: 30%;
}
.fl{
    height: 20px;
    width: 100%;
    background-color: #F3F4F6;
}